@import "~commonStyles/variables";

img {
  max-width: 100px;
}

.app-frame {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  &__right-pane {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0px 40px;
    flex-grow: 1;
  }
}
