@import "~commonStyles/variables";

.summary-card {
    margin-top: 25px;
}

.summary-card .full-btn {
    width: 100%;
}

.summary-card .content {
    width: 100%;
}

.summary-card .score {
    font-size: 20pt;
    text-align: center;
}

.summary-card .scoring-desc {
    font-size: 8pt;
    margin-top: 25px;
}