@import "~commonStyles/variables";

html, body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  overflow-x: hidden;
  color: $text-color;
  font-size: 16px;
  font-family: sans-serif;
}
