@import "~commonStyles/variables";

.question-card {
    padding-top: 25px;
    margin-top: 25px;
}

.question-card .bool-btn {
    width: 50%;
}

.question-card .content {
    width: 100%;
}

.question-card .timer {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 20pt;
    font-weight: bold;
}